body{
    background-color: black;
    color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: .9em;
    padding: 0;
    margin: 0;
}

h1 h2 h3 {
    font-family: 'Times New Roman';
    font-weight: bold;
}

h1 {
    color: #43743D;
    font-size: 1.7em;
}

h2 {
    color: white;
    font-size: 1.2em;
}

h3 {
    color: #889A9C;
    font-size: 1em;
}

#edges {
    background-color: #FFFFFF;
    color: black;
    margin: 25px;
}

p {
    padding-bottom: 5px;
}
